#titlebackground {
    background-color: #78b2f5;
}

#title {
    font-family: 'Bebas Neue', cursive;
    font-size: 45pt;
    position: relative;
    left: 3%;
    background-color: #78b2f5;
}

#bag {
    width: 700px;
    height: auto;
    position: absolute;
    left: 45%; 
    top: 15%; 
}

#slogan{
    font-family: 'Thasadith', sans-serif;
    font-size: 60pt;
    width: 400px;
    position: absolute;
    left: 30%; 
    top: 30%; 
}
#viewall {
    text-decoration: none;
    font-family: 'Thasadith', sans-serif;
    font-size: 30px;
    position: absolute;
    left: 2%; 
}

#viewyour {
    text-decoration: none;
    font-family: 'Thasadith', sans-serif;
    font-size: 30px;
    position: absolute;
    left: 16.5%; 
}

@media only screen and (max-width: 375px)  {

    #title {
        font-family: 'Bebas Neue', cursive;
        font-size: 40pt;
        position: relative;
        left: 3%;
        background-color: #78b2f5;
    }
    #bag {
        width: 300px;
        height: auto;
        position: absolute;
        left: 30%; 
        top: 37%; 
    }

    #slogan{
        font-family: 'Thasadith', sans-serif;
        font-size: 30pt;
        width: 150px;
        position: absolute;
        left: 5%; 
        top: 40%; 
    }

    #viewall {
        text-decoration: none;
        font-family: 'Thasadith', sans-serif;
        font-size: 20px;
        position: absolute;
        left: 2%; 
    }
    
    #viewyour {
        text-decoration: none;
        font-family: 'Thasadith', sans-serif;
        font-size: 20px;
        position: absolute;
        left: 39%; 
    }


} 

