#title {
    font-family: 'Bebas Neue', cursive;
    font-size: 40pt;
    position: relative;
    background-color: #78b2f5;
}

#ListHeading {
    font-family: 'Thasadith', sans-serif;
    font-size: 30pt;
    text-align: center;
}

#brand {
    border-radius: 5px;
    text-align: center;
    height: 20px; 
    font-family:'Thasadith', sans-serif;
}

#item { 
    border-radius: 5px;
    text-align: center;
    height: 20px; 
    font-family:'Thasadith', sans-serif;
}

#description {
    border-radius: 5px;
    text-align: center;
    height: 20px; 
    font-family:'Thasadith', sans-serif;
}

#price {
    border-radius: 5px;
    text-align: center;
    height: 20px; 
    font-family:'Thasadith', sans-serif;
}

#AvailableHeading {
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Thasadith', sans-serif;
    font-size: 20pt;
}

#section {
    text-align: center;
}

.btn {
    margin-top: 20px;
    background-color: #78b2f5;
    border: none;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-family: 'Bebas Neue', cursive;
    width: 120px;


}
